<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Instruqt Cloud Accounts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/main.css" />
</head>

<body>
    <div class="accountList">
        {{ if ne (getenv "INSTRUQT_AWS_ACCOUNTS") "" }}
            {{ range $i, $a := (.Env.INSTRUQT_AWS_ACCOUNTS | strings.Split ",") }}
        <div class="account awsAccount">
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img alt="icon" src="/assets/aws-account.svg">
                    </div>
                    <div class="title">
                        <h2>{{ getenv (print "INSTRUQT_AWS_ACCOUNT_" $a "_ACCOUNT_NAME") }}</h2>
                        <p>AWS Account</p>
                    </div>
                </div>
                <div class="properties">
                    <div class="key">Account ID:</div>
                    <div class="value">
                        <a href="https://instruqt-{{ getenv (print "INSTRUQT_AWS_ACCOUNT_" $a "_ACCOUNT_ID") }}.signin.aws.amazon.com/console?region=eu-west-1" target="_blank">
                            {{ getenv (print "INSTRUQT_AWS_ACCOUNT_" $a "_ACCOUNT_ID") }}
                            <img src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"> <path fill="white" stroke="black" d="M1.5 4.518h5.982V10.5H1.5z"/> <path fill="black" d="M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z"/> <path fill="white" d="M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z"/> </svg>'>
                        </a>
                    </div>
                    <div class="key">Username:</div>
                    <div class="value">{{ getenv (print "INSTRUQT_AWS_ACCOUNT_" $a "_USERNAME") }}</div>
                    <div class="key">Password:</div>
                    <div clsas="value">{{ getenv (print "INSTRUQT_AWS_ACCOUNT_" $a "_PASSWORD") }}</div>
                    <div class="key">Access Key ID:</div>
                    <div class="value">{{ getenv (print "INSTRUQT_AWS_ACCOUNT_" $a "_AWS_ACCESS_KEY_ID") }}</div>
                    <div class="key">Secret Access Key:</div>
                    <div clsas="value">{{ getenv (print "INSTRUQT_AWS_ACCOUNT_" $a "_AWS_SECRET_ACCESS_KEY") }}</div>
                </div>
            </div>
        </div>
            {{ end }}
        {{ end }}
        {{ if ne (getenv "INSTRUQT_GCP_PROJECTS") "" }}
            {{ range $i, $p := (.Env.INSTRUQT_GCP_PROJECTS | strings.Split ",") }}
        <div class="account gcpProject">
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img alt="icon" src="/assets/gcp-project.png">
                    </div>
                    <div class="title">
                        <h2>{{ getenv (print "INSTRUQT_GCP_PROJECT_" $p "_PROJECT_NAME") }}</h2>
                        <p>Google Cloud Project</p>
                    </div>
                </div>
                <div class="properties">
                    <div class="key">Project ID:</div>
                    <div class="value">
                        <a href="https://console.cloud.google.com/home/dashboard?project={{ getenv (print "INSTRUQT_GCP_PROJECT_" $p "_PROJECT_ID") }}&region=eu-west-1" target="_blank">
                            {{ getenv (print "INSTRUQT_GCP_PROJECT_" $p "_PROJECT_ID") }}
                            <img src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"> <path fill="white" stroke="black" d="M1.5 4.518h5.982V10.5H1.5z"/> <path fill="black" d="M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z"/> <path fill="white" d="M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z"/> </svg>'>
                        </a>
                    </div>
                    <div class="key">Email:</div>
                    <div class="value">{{ getenv (print "INSTRUQT_GCP_PROJECT_" $p "_USER_EMAIL") }}</div>
                    <div class="key">Password:</div>
                    <div clsas="value">{{ getenv (print "INSTRUQT_GCP_PROJECT_" $p "_USER_PASSWORD") }}</div>
                </div>
            </div>
        </div>
            {{ end }}
        {{ end }}
    </div>
</body>

</html>
